/* @font-face {
  font-family: 'Whitney';
  font-weight: 300;
  src: url('./assets/fonts/Whitney-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Whitney';
  src: url('./assets/fonts/Whitney-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'Whitney';
  font-weight: normal;
  src: url('./assets/fonts/Whitney-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'Whitney';
  font-weight: 400;
  src: url('./assets/fonts/Whitney-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Whitney';
  font-weight: bold;
  src: url('./assets/fonts/Whitney-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Whitney';
  font-weight: 600;
  src: url('./assets/fonts/Whitney-Bold.ttf') format('truetype');
} */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: Whitney;
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 1.2rem;
  overflow: hidden;
}
#drag-bar {
  display: none;
}
#traffic-light {
  top: 11px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page-enter {
  opacity: 0;
  transform: translateY(15px);
}
.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.page-exit {
  opacity: 1;
  transform: translateY(0);
}
.page-exit-active {
  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 300ms, transform 300ms;
}

.react-contextmenu {
  background-color: #16161c;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  border-radius: 5px;
  color: #c0c0d4;
  font-size: 16px;
  margin: 2px 9px 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 5px;
  pointer-events: none;
  text-align: left;
  /* transition: opacity 250ms ease !important; */
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  color: #c0c0d4;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 3px 9px;
  text-align: inherit;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: #fff;
  background-color: #272731;
  text-decoration: none;
  border-radius: 5px;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
  color: #878a8c;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid #232329;
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: '›';
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}
