@tailwind base;

@tailwind components;

@tailwind utilities;

body,
h1,
h2,
h3,
h4,
h5,
p,
span,
div,
b,
i {
  font-family: Proxima Nova, Arial, Helvetica, sans-serif !important;
}

@responsive {
  .absolute-expand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -9;
  }
  .space-gradient {
    background: linear-gradient(247.94deg, #a55fff 0.93%, #6d1bd5 95.96%);
  }
  .hero-bg {
    background: url('/assets/images/bg.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    mix-blend-mode: luminosity;
    opacity: 0.3;
  }

  .hero-text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.accordion .title {
  padding: 20px 30px !important;
  border-bottom: 1px solid rgb(233, 233, 233);
  font-size: 17px !important;
}
.accordion .content.active {
  padding: 30px !important;
  background: #f7f7f7;
  font-size: 17px;
}
.accordion .icon {
  content: '*';
}
.accordion {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.096);
  border-radius: 10px;
}

.button-border {
  border-radius: 8px;
  border: 2px solid white;
  padding: 2px 8px;
  margin: 2px;
}
